body {
    margin: auto;
    width: 1440px;
}

header {
    background-color: #E5E5E5;
    text-align: center;
    margin: 0px;
    padding: 0px;

}

main {
    margin: 100px 350px;
}

h1, h2 {
    padding: 6px 0px 7px 9px;
    background-color: #C4C4C4;
    color: #005677;
    text-align: left;
    font-feature-settings: 'cpsp' on;
}

footer, .footer-txt{
    display: flex;
    justify-content: center;
    color: white;
    margin: 0;
    background-color: #005677;
}
